.button-container-back button {
    background-color: rgba(215, 86, 69, 0.771);
    color: aliceblue;
    cursor: pointer;
    width: 200px;
    height: 3rem;
    max-width: 20rem;
    border-radius: 1rem;
    transition: all 300ms ease-in-out; 
    border: none;
    font-weight: bold;
}

.button-container-back button:hover {
    transform: scale(1.2);
}
